.tablesWrapper {
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #cbcfda66;
  border: 1px solid #cdced7;
  overflow: hidden;
  margin-bottom: 30px;
}

.tablesTitle {
  background-color: #0a1767;
  font-family: var(--font-mulish);
  color: #f8f8fd;

  padding: 16px;
  font-size: 12px;
  font-weight: 900;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
