.imageWrapper {
  height: calc(100vh - 100px);
  width: 50vw;
  position: relative;
  margin-right: 20px;
}

.imageWrapper img {
  object-fit: cover;
}

.landing_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8f8fd;
}

.right_wrapper {
  margin: 20px;
}

.landing_title {
  font-family: var(--font-frank);
  font-size: 56px;
  font-weight: 600;
  color: #050c36;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}

.landing_subtitle {
  font-family: var(--font-mulish);
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  max-width: 500px;
  text-align: justify;
  margin-bottom: 32px;
}

.landing_stat_wrapper {
  margin-top: 64px;
  margin-right: 30px;
}

.landing_stat_wrapper_label {
  color: #696d86;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.landing_stat_wrapper_value {
  font-family: Frank Ruhl Libre;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
