.pageTitle {
  font-family: var(--font-inter);
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 48px;
  margin-bottom: 32px;
}

.bannerLabel {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 900;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.bannerValue {
  font-family: var(--font-inter);
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 8px 0;
}

.table_subitem {
  cursor: pointer;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 800;
  /* line-height: 44px; */
  letter-spacing: 0em;
  text-align: left;
  color: #0a1767;
  padding: 10px 24px;
  /* margin: 0 12px; */
}

.active_table_subitem {
  border-bottom: 4px solid #1027b8;
  /* padding-bottom: 13px; */
}
