.title {
  color: inherit;

  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 16px;
}

.subtitle {
  color: inherit;

  font-family: var(--font-inter);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}
